.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phonebook{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}