// body{
//   background-color: rgb(240, 237, 234)
// }
.wrapper {
  padding: 50px;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  // background-color: rgb(240, 237, 234) !important;
}
.header {
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
